:root {
  --light-blue: #339cff;
  --dark-blue: #0b3b60;
  --white: #ffffff;
  --gray: #6b6e71;
  --light-gray: #e7ebef;
  --main-font: "Public Sans", sans-serif;
  --secondary-font: "Archivo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  width: 100%;
}